@using TestStore.Application.Dto
@model NavLinksUserDataDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TestStore.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @foreach(var l in Model.NavLinks){
                            @if(l.Name == "Cart"){
                                <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index" id="accessCart">Cart</a>
                                </li>
                            }else{
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="@l.Controller" asp-action="@l.Action">@l.Name</a>
                                </li>
                            }
                        }
                        @if(string.IsNullOrEmpty(Model.Username)){
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Index">Sign in</a>
                        </li>
                        }else {
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @Model.Username
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item"  asp-controller="Users" asp-action="Edit" asp-route-id="@Model.UserId">Edit profile</a></li>
                            @if(@Model.IsAdmin){
                                <li><a class="dropdown-item"  asp-controller="Adminpanel" asp-action="Index" >Admin panel</a></li>
                            }
                            <li><a class="dropdown-item" href="#" id="logout">Logout</a></li>
                          </ul>
                        </li>
                        }
                    </ul>
                </div>
